google-chart {
  height: 450px;
  width: 85vw;
}
raw-chart {
  height: 450px;
  width: 85vw;
}
mat-progress-bar {
  width: 85vw;
}
mat-grid-list {
  width: 85vw;
}
#zsal {
  height: 450px;
}
#ztmp {
  height: 450px;
}

