<h2 mat-dialog-title>A little bit of help.</h2>

<mat-dialog-content>
  <p>You can zoom a timeseries plot using the scroll wheel.</p>
  <p>You can drag a timeseries plot horizontally to view after zooming.</p>
  <p>You can zoom into a depth plot by dragging across a section of the plot.</p>
  <p>You can reset any plot with a RIGHT CLICK.</p>
  <h3>The platform icons are as follows:</h3>
  <table>
    <tr>
      <th>Platform Type</th>
      <th>Symbol</th>
    </tr>
    <tr>
      <td>AUTONOMOUS PINNIPEDS</td>
      <td><img src="assets/icons/icon001.png"/></td>
    </tr>
    <tr>
      <td>C-MAN WEATHER STATIONS</td>
      <td><img src="assets/icons/icon002.png"/></td>
    </tr>
    <tr>
      <td>CLIMATE REFERENCE MOORED BUOYS"></td>
      <td><img src="assets/icons/icon003.png"/></td>
    </tr>
    <tr>
      <td>DRIFTING BUOYS (GENERIC)</td>
      <td><img src="assets/icons/icon004.png"/></td>
    </tr>
    <tr>
      <td>GLIDERS</td>
      <td><img src="assets/icons/icon005.png"/></td>
    </tr>
    <tr>
      <td>GLOSS</td>
      <td><img src="assets/icons/icon022.png"/></td>
    </tr>
    <tr>
      <td>ICE BUOYS</td>
      <td><img src="assets/icons/icon023.png"/></td>
    </tr>
    <tr>
      <td>MOORED BUOYS (GENERIC)</td>
      <td><img src="assets/icons/icon006.png"/></td>
    </tr>
    <tr>
      <td>OCEAN TRANSPORT STATIONS (GENERIC)</td>
      <td><img src="assets/icons/icon007.png"></td>
    </tr>
    <tr>
      <td>PROFILING FLOATS AND GLIDERS (GENERIC)</td>
      <td><img src="assets/icons/icon008.png"/></td>
    </tr>
    <tr>
      <td>RESEARCH</td>
      <td><img src="assets/icons/icon009.png"/></td>
    </tr>
    <tr>
      <td>SHIPS</td>
      <td><img src="assets/icons/icon024.png"/></td>
    </tr>
    <tr>
      <td>SHIPS (GENERIC)</td>
      <td><img src="assets/icons/icon010.png"/></td>
    </tr>
    <tr>
      <td>SHORE AND BOTTOM STATIONS (GENERIC)</td>
      <td><img src="assets/icons/icon011.png"/></td>
    </tr>
    <tr>
      <td>TIDE GAUGE STATIONS (GENERIC)</td>
      <td><img src="assets/icons/icon012.png"/></td>
    </tr>
    <tr>
      <td>TROPICAL MOORED BUOYS</td>
      <td><img src="assets/icons/icon013.png"/></td>
    </tr>
    <tr>
      <td>TSUNAMI WARNING STATIONS</td>
      <td><img src="assets/icons/icon014.png"/></td>
    </tr>
    <tr>
      <td>UNKNOWN</td>
      <td><img src="assets/icons/icon015.png"/></td>
    </tr>
    <tr>
      <td>UNMANNED SURFACE VEHICLE</td>
      <td><img src="assets/icons/icon025.png"/></td>
    </tr>
    <tr>
      <td>VOLUNTEER OBSERVING SHIPS</td>
      <td><img src="assets/icons/icon016.png"></td>
    </tr>
    <tr>
      <td>VOLUNTEER OBSERVING SHIPS (GENERIC)</td>
      <td><img src="assets/icons/icon017.png"></td>
    </tr>
    <tr>
      <td>VOSCLIM</td>
      <td><img src="assets/icons/icon018.png"></td>
    </tr>
    <tr>
      <td>WEATHER AND OCEAN OBS</td>
      <td><img src="assets/icons/icon019.png"></td>
    </tr>
    <tr>
      <td>WEATHER BUOYS</td>
      <td><img src="assets/icons/icon020.png"></td>
    </tr>
    <tr>
      <td>WEATHER OBS</td>
      <td><img src="assets/icons/icon021.png"></td>
    </tr>
    <tr>
      <td>UNIDENTIFIED</td>
      <td><img src="assets/icons/icon026.png"></td>
    </tr>
  </table>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
</mat-dialog-actions>

